<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Web Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Excel Web Reader</h1>
        
        <div class="form-group">
            <label for="category-select">Select a category  :</label>
            <select id="category-select">
                <option value="">-- Choose an option --</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="column-select">Select a column :</label>
            <select id="column-select" >
                <option value="">-- first Select a category --</option>
            </select>
        </div>
        
        <div class="items-container">
            <h2>items :</h2>
            <ul id="items-list">
                <!-- The items will be add -->
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>